Source: ros-indigo-roch-viz
Section: misc
Priority: extra
Maintainer: Carl <wzhang@softrobtech.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-roslaunch
Homepage: http://ros.org/wiki/roch_viz
Standards-Version: 3.9.2

Package: ros-indigo-roch-viz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-joint-state-publisher, ros-indigo-robot-state-publisher, ros-indigo-roch-bringup, ros-indigo-roch-description, ros-indigo-rviz, ros-indigo-rviz-imu-plugin
Description: Visualization configuration for SawYer roch
